:root {
  --green: #244b32;
  --orange: #ed7939;
  --lys-green: #b9cdb4;
  --hvid: #ffffff;
  --tekst: #25392c;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

img {
  display: block;
}

.container {
  width: min(100%, 1100px);
  margin-inline: auto;
  padding: 2rem;
}

/* KNAPPER */

.knap {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.6rem 1rem;
  background: var(--green);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  border-radius: 8px;
}

.knap.lys {
  background: var(--lys-green);
  color: var(--tekst);
}

/* TILBUD */

.tilbud-sektion {
  background-color: var(--green);
  padding-bottom: 5rem;
}

.tilbud-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

/* MOBIL */

@media (max-width: 700px) {
  .tilbud-grid {
    grid-template-columns: 1fr;
  }
  .hero {
    min-height: 500px;
  }
}
